DOMAIN=
HOMELAB_TAILSCALE_IP= # tailscale ip of the homelab 100.x.x.x
AUTHELIA_SESSION_SECRET= # openssl rand -hex 32
AUTHELIA_STORAGE_KEY= # openssl rand -hex 32
AUTHELIA_JWT_SECRET= # openssl rand -hex 32
AUTHELIA_USER_EMAIL=
AUTHELIA_USER_DISPLAYNAME=
AUTHELIA_USERNAME=
TZ= # Europe/Madrid
ACME_EMAIL=
AUTHELIA_USER_PASSWORD=
